main {
  /* display: flex;
  flex-wrap: wrap; */
}
.sign {
  display: flex;
  flex-direction: row;
}
img {
  height: 150px;
  width: 200px;
}
span {
  color: rgb(255, 0, 179);
}
.signs background-img {
  background-repeat: cover;
}
